---
http_interactions:
- request:
    method: get
    uri: https://auth.api.rackspacecloud.com/v1.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Key:
      - <RAX_PASSWORD>
      X-Auth-User:
      - <RAX_USERNAME>
  response:
    status:
      code: 204
      message: 
    headers:
      X-Storage-Url:
      - https://storage101.dfw1.clouddrive.com/v1/<CDN-TENANT-NAME>
      X-Cloud-Auth:
      - 'true'
      Front-End-Https:
      - 'on'
      X-Auth-Token: <ONE-TIME-TOKEN>
      response-source:
      - cloud-auth
      X-Storage-Token: <ONE-TIME-TOKEN>
      X-Server-Management-Url:
      - https://servers.api.rackspacecloud.com/v1.0/<TENANT-ID>
      X-CDN-Management-Url:
      - https://cdn1.clouddrive.com/v1/<CDN-TENANT-NAME>
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 24 May 2013 18:08:16 GMT
- request:
    method: get
    uri: https://dfw.servers.api.rackspacecloud.com/v2/<TENANT-ID>/flavors
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token: <ONE-TIME-TOKEN>
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id: <COMPUTE-REQUEST-ID>
    body:
      encoding: UTF-8
      string: ! '{"flavors": [{"id": "2", "links": [{"href": "https://dfw.servers.api.rackspacecloud.com/v2/<TENANT-ID>/flavors/2",
        "rel": "self"}, {"href": "https://dfw.servers.api.rackspacecloud.com/<TENANT-ID>/flavors/2",
        "rel": "bookmark"}], "name": "512MB Standard Instance"}, {"id": "3", "links":
        [{"href": "https://dfw.servers.api.rackspacecloud.com/v2/<TENANT-ID>/flavors/3",
        "rel": "self"}, {"href": "https://dfw.servers.api.rackspacecloud.com/<TENANT-ID>/flavors/3",
        "rel": "bookmark"}], "name": "1GB Standard Instance"}, {"id": "4", "links":
        [{"href": "https://dfw.servers.api.rackspacecloud.com/v2/<TENANT-ID>/flavors/4",
        "rel": "self"}, {"href": "https://dfw.servers.api.rackspacecloud.com/<TENANT-ID[...]
- request:
    method: get
    uri: https://dfw.servers.api.rackspacecloud.com/v2/<TENANT-ID>/flavors/2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token: <ONE-TIME-TOKEN>
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id: <COMPUTE-REQUEST-ID>
    body:
      encoding: UTF-8
      string: ! '{"flavor": {"name": "512MB Standard Instance", "links": [{"href":
        "https://dfw.servers.api.rackspacecloud.com/v2/<TENANT-ID>/flavors/2", "rel":
        "self"}, {"href": "https://dfw.servers.api.rackspacecloud.com/<TENANT-ID>/flavors/2",
        "rel": "bookmark"}], "ram": 512, "vcpus": 1, "swap": 512, "rxtx_factor": 2.0,
        "OS-FLV-EXT-DATA:ephemeral": 0, "disk": 20, "id": "2"}}'
  recorded_at: Fri, 24 May 2013 18:08:17 GMT
[...]
- request:
    method: get
    uri: https://dfw.servers.api.rackspacecloud.com/v2/<TENANT-ID>/flavors/8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token: <ONE-TIME-TOKEN>
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id: <COMPUTE-REQUEST-ID>
    body:
      encoding: UTF-8
      string: ! '{"flavor": {"name": "30GB Standard Instance", "links": [{"href":
        "https://dfw.servers.api.rackspacecloud.com/v2/<TENANT-ID>/flavors/8", "rel":
        "self"}, {"href": "https://dfw.servers.api.rackspacecloud.com/<TENANT-ID>/flavors/8",
        "rel": "bookmark"}], "ram": 30720, "vcpus": 8, "swap": 2048, "rxtx_factor":
        30.0, "OS-FLV-EXT-DATA:ephemeral": 0, "disk": 1200, "id": "8"}}'
  recorded_at: Fri, 24 May 2013 18:08:20 GMT
recorded_with: VCR 2.5.0
