---
http_interactions:
- request:
    method: get
    uri: https://auth.api.rackspacecloud.com/v1.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Key:
      - _RAX_PASSWORD_
      X-Auth-User:
      - _RAX_USERNAME_
  response:
    status:
      code: 204
      message: 
    headers:
      X-Storage-Url:
      - https://storage101.dfw1.clouddrive.com/v1/_CDN-TENANT-NAME_
      X-Cloud-Auth:
      - 'true'
      Front-End-Https:
      - 'on'
      X-Auth-Token: _ONE-TIME-TOKEN_
      X-Storage-Token: _ONE-TIME-TOKEN_
      X-Server-Management-Url:
      - https://servers.api.rackspacecloud.com/v1.0/000000
      X-Global-Auth:
      - 'true'
      X-CDN-Management-Url:
      - https://cdn1.clouddrive.com/v1/_CDN-TENANT-NAME_
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 06 Jun 2013 15:49:23 GMT
- request:
    method: get
    uri: https://servers.api.rackspacecloud.com/v1.0/000000/images/detail.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token: _ONE-TIME-TOKEN_
  response:
    status:
      code: 203
      message: 
    headers:
      Last-Modified:
      - Mon, 09 Jul 2012 17:15:23 GMT
      X-PURGE-KEY:
      - /000000/images
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: ! '{"images":[{"id":118,"status":"ACTIVE","updated":"2011-08-17T05:11:30-05:00","name":"CentOS
        6.0"},{"id":104,"status":"ACTIVE","updated":"2011-08-17T05:11:30-05:00","name":"Debian
        6 (Squeeze)"},{"id":125,"status":"ACTIVE","updated":"2012-05-03T07:21:06-05:00","name":"Ubuntu
        12.04 LTS"},{"id":107,"status":"ACTIVE","updated":"2012-04-24T10:48:08-05:00","name":"FreeBSD
        9.0"},{"id":24,"status":"ACTIVE","updated":"2010-01-26T12:07:04-06:00","name":"Windows
        Server 2008 SP2 x64"},{"id":109,"status":"ACTIVE","updated":"2011-11-03T06:28:56-05:00","[...]
