---
http_interactions:
- request:
    method: get
    uri: https://auth.api.rackspacecloud.com/v1.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Key:
      - _RAX_PASSWORD_
      X-Auth-User:
      - _RAX_USERNAME_
  response:
    status:
      code: 204
      message: 
    headers:
      X-Storage-Url:
      - https://storage101.dfw1.clouddrive.com/v1/_CDN-TENANT-NAME_
      X-Cloud-Auth:
      - 'true'
      Front-End-Https:
      - 'on'
      X-Auth-Token: _ONE-TIME-TOKEN_
      X-Storage-Token: _ONE-TIME-TOKEN_
      X-Server-Management-Url:
      - https://servers.api.rackspacecloud.com/v1.0/000000
      X-Global-Auth:
      - 'true'
      X-CDN-Management-Url:
      - https://cdn1.clouddrive.com/v1/_CDN-TENANT-NAME_
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Jun 2013 22:32:10 GMT
- request:
    method: get
    uri: https://servers.api.rackspacecloud.com/v1.0/000000/flavors/detail.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token: _ONE-TIME-TOKEN_
  response:
    status:
      code: 203
      message: 
    headers:
      Last-Modified:
      - Tue, 06 Dec 2011 17:31:55 GMT
      X-PURGE-KEY:
      - /flavors
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: ! '{"flavors":[{"id":1,"ram":256,"disk":10,"name":"256 server"},{"id":2,"ram":512,"disk":20,"name":"512
        server"},{"id":3,"ram":1024,"disk":40,"name":"1GB server"},{"id":4,"ram":2048,"disk":80,"name":"2GB
        server"},{"id":5,"ram":4096,"disk":160,"name":"4GB server"},{"id":6,"ram":8192,"disk":320,"name":"8GB
        server"},{"id":7,"ram":15872,"disk":620,"name":"15.5GB server"},{"id":8,"ram":30720,"disk":1200,"name":"30GB
        server"}]}'
  recorded_at: Mon, 10 Jun 2013 22:32:10 GMT
- request:
    method: get
    uri: https://servers.api.rackspacecloud.com/v1.0/000000/flavors/1.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token: _ONE-TIME-TOKEN_
  response:
    status:
      code: 203
      message: 
    headers:
      Last-Modified:
      - Wed, 19 Sep 2007 18:24:59 GMT
      X-PURGE-KEY:
      - /flavors
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: ! '{"flavor":{"id":1,"ram":256,"disk":10,"name":"256 server"}}'
  recorded_at: Mon, 10 Jun 2013 22:32:10 GMT
[...]
- request:
    method: get
    uri: https://servers.api.rackspacecloud.com/v1.0/000000/flavors/8.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token: _ONE-TIME-TOKEN_
  response:
    status:
      code: 203
      message: 
    headers:
      Last-Modified:
      - Tue, 06 Dec 2011 17:31:55 GMT
      X-PURGE-KEY:
      - /flavors
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: ! '{"flavor":{"id":8,"ram":30720,"disk":1200,"name":"30GB server"}}'
  recorded_at: Mon, 10 Jun 2013 22:32:10 GMT
recorded_with: VCR 2.5.0
