---
http_interactions:
- request:
    method: get
    uri: https://dfw.servers.api.rackspacecloud.com/v2/000000/flavors/detail
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token: _ONE-TIME-TOKEN_
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id: _COMPUTE-REQUEST-ID_
    body:
      encoding: UTF-8
      string: ! '{"flavors": [{"name": "512MB Standard Instance", "links": [{"href":
        "https://dfw.servers.api.rackspacecloud.com/v2/000000/flavors/2", "rel": "self"},
        {"href": "https://dfw.servers.api.rackspacecloud.com/000000/flavors/2", "rel":
        "bookmark"}], "ram": 512, "vcpus": 1, "swap": 512, "rxtx_factor": 2.0, "OS-FLV-EXT-DATA:ephemeral":
        0, "disk": 20, "id": "2"}, {"name": "1GB Standard Instance", "links": [{"href":
        "https://dfw.servers.api.rackspacecloud.com/v2/000000/flavors/3", "rel": "self"},
        {"href": "https://dfw.servers.api.rackspacecloud.com/000000/flavors/3", "rel":
        "bookmark"}], "ram": 1024, "vcpus": 1, "swap": 1024, "rxtx_factor": 3.0, "OS-FLV-EXT-DATA:ephemeral":
        0, "disk": 40, "id": "3"}, {"name": "2GB Standard Instance", "links": [{"href":
        "https://dfw.servers.api.rackspacecloud.com/v2/000000/fla[...]
- request:
    method: get
    uri: https://dfw.servers.api.rackspacecloud.com/v2/000000/flavors
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token: _ONE-TIME-TOKEN_
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      x-compute-request-id:
      - req-be3a86ea-cc0e-4a1e-95c8-dafd8a89dc16
    body:
      encoding: US-ASCII
      string: ! '{"flavors": [{"id": "2", "links": [{"href": "https://dfw.servers.api.rackspacecloud.com/v2/000000/flavors/2",
        "rel": "self"}, {"href": "https://dfw.servers.api.rackspacecloud.com/000000/flavors/2",
        "rel": "bookmark"}], "name": "512MB Standard Instance"}, {"id": "3", "links":
        [{"href": "https://dfw.servers.api.rackspacecloud.com/v2/000000/flavors/3",
        "rel": "self"}[...]
- request:
    method: get
    uri: https://dfw.servers.api.rackspacecloud.com/v2/000000/flavors/2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token: _ONE-TIME-TOKEN_
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      x-compute-request-id:
      - req-42d6a937-ed3a-4cac-b7f4-67d9e3056566
    body:
      encoding: US-ASCII
      string: ! '{"flavor": {"OS-FLV-WITH-EXT-SPECS:extra_specs": {"class": "standard1",
        "disk_io_index": "2", "number_of_data_disks": "0"}, "name": "512MB Standard
        Instance", "links": [{"href": "https://dfw.servers.api.rackspacecloud.com/v2/000000/flavors/2",
        "rel": "self"}, {"href": "https://dfw.servers.api.rackspacecloud.com/000000/flavors/2",
        "rel": "bookmark"}], "ram": 512, "vcpus": 1, "swap": 512, "rxtx_factor": 80.0,
        "OS-FLV-EXT-DATA:ephemeral": 0, "disk": 20, "id": "2"}}'
  recorded_at: Tue, 10 Dec 2013 19:04:41 GMT
[...]
- request:
    method: post
    uri: https://identity.api.rackspacecloud.com/v2.0/tokens
    body:
      encoding: UTF-8
      string: ! '{"auth":{"RAX-KSKEY:apiKeyCredentials":{"username":"_RAX_USERNAME_","apiKey":"_RAX_PASSWORD_"}}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token: _ONE-TIME-TOKEN_
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Front-End-Https:
      - 'on'
    body:
      encoding: US-ASCII
      string: ! '{"access":{"token":{"id":"05fac16f5e9a4f3a93440b2a5c442a92","expires":"2013-12-11T06:35:39.594Z","tenant":{"id":"000000","name":"000000"},"RAX-AUTH:authenticatedBy":["APIKEY"]},"serviceCatalog":[{"name":"cloudFiles","endpoints":[{"region":"DFW","tenantId":"_CDN-TENANT-NAME_","publicURL":"https:\/\/storage101.dfw1.clouddrive.com\/v1\/_CDN-TENANT-NAME_","internalURL":"https:\/\/snet-storage101.dfw1.clouddrive.com\/v1\/_CDN-TENANT-NAME_"},{"region":"ORD","tenantId":"_CDN-TENANT-NAME_","publicURL":"https:\/\/storage101.ord1.clouddrive.com\/v1\/_CDN-TENANT-NAME_","internalURL":"https:\/\/snet-storage101.ord1.clouddrive.com\/v1\/_CDN-TENANT-NAME_"},{"region":"SYD","tenantId":"_CDN-TENANT-NAME_","publicURL":"https:\/\/storage101.syd2.clouddrive.com\/v1\/_CDN-TENANT-NAME_","internalURL":"https:\/\/snet-storage101.syd2.clouddrive.com\/v1\/_CDN-TENANT-NAME_"},{"region":"IAD","tenantId":"_CDN-TENANT-NAME_","publicURL":"https:\/\/storage101.iad3.clouddrive.com\/v1\/_CDN-TENANT-NAME_","internalURL":"https:\/\/snet-storage101.iad3.clouddrive.com\/v1\/_CDN-TENANT-NAME_"},{"region":"HKG","tenantId":"_CDN-TENANT-NAME_","publicURL":"https:\/\/storage101.hkg1.clouddrive.com\/v1\/_CDN-TENANT-NAME_","internalURL":"https:\/\/snet-storage101.hkg1.clouddrive.com\/v1\/_CDN-TENANT-NAME_"}],"type":"object-store"},{"name":"cloudFilesCDN","endpoints":[{"region":"DFW","tenantId":"_CDN-TENANT-NAME_","publicURL":"https:\/\/cdn1.clouddrive.com\/v1\/_CDN-TENANT-NAME_"},{"region":"ORD","tenantId":"_CDN-TENANT-NAME_","publicURL":"https:\/\/cdn2.clouddrive.com\/v1\/_CDN-TENANT-NAME_"},{"region":"SYD","tenantId":"_CDN-TENANT-NAME_","publicURL":"https:\/\/cdn4.clouddrive.com\/v1\/_CDN-TENANT-NAME_"},{"region":"IAD","tenantId":"_CDN-TENANT-NAME_","publicURL":"https:\/\/cdn5.clouddrive.com\/v1\/_CDN-TE[...]
[...]
- request:
    method: get
    uri: https://dfw.servers.api.rackspacecloud.com/v2/000000/flavors/performance1-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token: _ONE-TIME-TOKEN_
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      x-compute-request-id:
      - req-999a702a-0c38-42b8-a652-abb516358ca7
    body:
      encoding: US-ASCII
      string: ! '{"flavor": {"OS-FLV-WITH-EXT-SPECS:extra_specs": {"resize_policy_class":
        "performance_flavor", "class": "performance1", "disk_io_index": "40", "number_of_data_disks":
        "0"}, "name": "1 GB Performance", "links": [{"href": "https://dfw.servers.api.rackspacecloud.com/v2/000000/flavors/performance1-1",
        "rel": "self"}, {"href": "https://dfw.servers.api.rackspacecloud.com/000000/flavors/performance1-1",
        "rel": "bookmark"}], "ram": 1024, "vcpus": 1, "swap": "", "rxtx_factor": 200.0,
        "OS-FLV-EXT-DATA:ephemeral": 0, "disk": 20, "id": "performance1-1"}}'
  recorded_at: Tue, 10 Dec 2013 19:08:08 GMT
[...]
- request:
    method: get
    uri: https://dfw.servers.api.rackspacecloud.com/v2/000000/flavors/performance2-120
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token: _ONE-TIME-TOKEN_
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      x-compute-request-id:
      - req-cd209f90-0aba-4006-84b9-9c81a129202b
    body:
      encoding: US-ASCII
      string: ! '{"flavor": {"OS-FLV-WITH-EXT-SPECS:extra_specs": {"resize_policy_class":
        "performance_flavor", "class": "performance2", "disk_io_index": "80", "number_of_data_disks":
        "4"}, "name": "120 GB Performance", "links": [{"href": "https://dfw.servers.api.rackspacecloud.com/v2/000000/flavors/performance2-120",
        "rel": "self"}, {"href": "https://dfw.servers.api.rackspacecloud.com/000000/flavors/performance2-120",
        "rel": "bookmark"}], "ram": 122880, "vcpus": 32, "swap": "", "rxtx_factor":
        10000.0, "OS-FLV-EXT-DATA:ephemeral": 1200, "disk": 40, "id": "performance2-120"}}'
  recorded_at: Tue, 10 Dec 2013 19:08:12 GMT
[...]
- request:
    method: get
    uri: https://dfw.servers.api.rackspacecloud.com/v2/000000/flavors/performance2-90
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token: _ONE-TIME-TOKEN_
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      x-compute-request-id:
      - req-3b78e113-cba6-4a11-8650-255fb5a79651
    body:
      encoding: US-ASCII
      string: ! '{"flavor": {"OS-FLV-WITH-EXT-SPECS:extra_specs": {"resize_policy_class":
        "performance_flavor", "class": "performance2", "disk_io_index": "70", "number_of_data_disks":
        "3"}, "name": "90 GB Performance", "links": [{"href": "https://dfw.servers.api.rackspacecloud.com/v2/000000/flavors/performance2-90",
        "rel": "self"}, {"href": "https://dfw.servers.api.rackspacecloud.com/000000/flavors/performance2-90",
        "rel": "bookmark"}], "ram": 92160, "vcpus": 24, "swap": "", "rxtx_factor":
        7500.0, "OS-FLV-EXT-DATA:ephemeral": 900, "disk": 40, "id": "performance2-90"}}'
  recorded_at: Tue, 10 Dec 2013 19:08:13 GMT
recorded_with: VCR 2.5.0
