---
http_interactions:
- request:
    method: get
    uri: https://auth.api.rackspacecloud.com/v1.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Key:
      - _RAX_PASSWORD_
      X-Auth-User:
      - _RAX_USERNAME_
  response:
    status:
      code: 204
      message: 
    headers:
      X-Storage-Url:
      - https://storage101.dfw1.clouddrive.com/v1/_CDN-TENANT-NAME_
      X-Cloud-Auth:
      - 'true'
      Front-End-Https:
      - 'on'
      X-Auth-Token: _ONE-TIME-TOKEN_
      X-Storage-Token: _ONE-TIME-TOKEN_
      X-Server-Management-Url:
      - https://servers.api.rackspacecloud.com/v1.0/000000
      X-Global-Auth:
      - 'true'
      X-CDN-Management-Url:
      - https://cdn1.clouddrive.com/v1/_CDN-TENANT-NAME_
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 06 Jun 2013 15:49:26 GMT
- request:
    method: get
    uri: https://dfw.servers.api.rackspacecloud.com/v2/000000/images
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token: _ONE-TIME-TOKEN_
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id: _COMPUTE-REQUEST-ID_
    body:
      encoding: UTF-8
      string: ! '{"images": [{"id": "49153930-a4d8-48f6-9432-d457e4c897bf", "links":
        [{"href": "https://dfw.servers.api.rackspacecloud.com/v2/000000/images/49153930-a4d8-48f6-9432-d457e4c897bf",
        "rel": "self"}, {"href": "https://dfw.servers.api.rackspacecloud.com/000000/images/49153930-a4d8-48f6-9432-d457e4c897bf",
        "rel": "bookmark"}, {"href": "https://dfw.servers.api.rackspacecloud.com/000000/images/49153930-a4d8-48f6-9432-d457e4c897bf",
        "type": "application/vnd.openstack.image", "rel": "alternate"}], "name": "winrm_template"},
        {"id": "3e4871d9-cd30-4a8c-bdb3-c962a6730c1c", "links": [{"href": "https://dfw.servers.api.rackspacecloud.com/v2/000000/images/3e4871d9-cd30-4a8c-bdb3-c962a6730c1c",
        "rel": "self"}, {"href": "https://dfw.servers.api.rackspacecloud.com/000000/images/3e4871d9-cd30-4a8c-bdb3-c962a6730c1c",
        "rel": "bookmark"}, {"href": "https://dfw.servers.api.rackspacecloud.com/000000/images/3e4871d9-cd30-4a8c-bdb3-c962a6730c1c",
        "type": "application/vnd.openstack[...]
