---
http_interactions:
- request:
    method: get
    uri: https://dfw.servers.api.rackspacecloud.com/v2/000000/flavors/detail
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token: _ONE-TIME-TOKEN_
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      x-compute-request-id:
      - req-440bf81e-e59d-4bc7-8563-b5731336c31a
    body:
      encoding: UTF-8
      string: ! '{"flavors": [{"OS-FLV-WITH-EXT-SPECS:extra_specs": {"class": "standard1",
        "disk_io_index": "2", "number_of_data_disks": "0"}, "name": "512MB Standard
        Instance", "links": [{"href": "https://dfw.servers.api.rackspacecloud.com/v2/000000/flavors/2",
        "rel": "self"}, {"href": "https://dfw.servers.api.rackspacecloud.com/000000/flavors/2",
        "rel": "bookmark"}], "ram": 512, "vcpus": 1, "swap": 512, "rxtx_factor": 80.0,
        "OS-FLV-EXT-DATA:ephemeral": 0, "disk": 20, "id": "2"}, {"OS-FLV-WITH-EXT-SPECS:extra_specs":
        {"class": "standard1", "disk_io_index": "2", "number_of_data_disks": "0"},
        "name": "1GB Standard Instance", "links": [{"href": "https://dfw.servers.api.rackspacecloud.com/v2/000000/flavors/3",
        "rel": "self"}, {"href": "https://dfw.servers.api.rackspacecloud.com/000000/flavors/3",
        "rel": "bookmark"}], "ram": 1024, "vcpus": 1, "swap": 1024, "rxtx_factor":
        120.0, "OS-FLV-EXT-DATA:ephemeral": 0, "disk": 40, "id": "3[...]
- request:
    method: get
    uri: https://dfw.servers.api.rackspacecloud.com/v2/000000/flavors/2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token: _ONE-TIME-TOKEN_
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      x-compute-request-id:
      - req-e82c43e7-adae-4dde-8c77-30be0c04ee83
    body:
      encoding: UTF-8
      string: ! '{"flavor": {"OS-FLV-WITH-EXT-SPECS:extra_specs": {"class": "standard1",
        "disk_io_index": "2", "number_of_data_disks": "0"}, "name": "512MB Standard
        Instance", "links": [{"href": "https://dfw.servers.api.rackspacecloud.com/v2/000000/flavors/2",
        "rel": "self"}, {"href": "https://dfw.servers.api.rackspacecloud.com/000000/flavors/2",
        "rel": "bookmark"}], "ram": 512, "vcpus": 1, "swap": 512, "rxtx_factor": 80.0,
        "OS-FLV-EXT-DATA:ephemeral": 0, "disk": 20, "id": "2"}}'
  recorded_at: Tue, 10 Dec 2013 21:55:01 GMT
[...]
- request:
    method: get
    uri: https://dfw.servers.api.rackspacecloud.com/v2/000000/flavors/performance1-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token: _ONE-TIME-TOKEN_
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      x-compute-request-id:
      - req-b7815df8-f548-4157-9fe1-550b267928e8
    body:
      encoding: UTF-8
      string: ! '{"flavor": {"OS-FLV-WITH-EXT-SPECS:extra_specs": {"resize_policy_class":
        "performance_flavor", "class": "performance1", "disk_io_index": "40", "number_of_data_disks":
        "0"}, "name": "1 GB Performance", "links": [{"href": "https://dfw.servers.api.rackspacecloud.com/v2/000000/flavors/performance1-1",
        "rel": "self"}, {"href": "https://dfw.servers.api.rackspacecloud.com/000000/flavors/performance1-1",
        "rel": "bookmark"}], "ram": 1024, "vcpus": 1, "swap": "", "rxtx_factor": 200.0,
        "OS-FLV-EXT-DATA:ephemeral": 0, "disk": 20, "id": "performance1-1"}}'
  recorded_at: Tue, 10 Dec 2013 21:55:18 GMT
[...]
- request:
    method: get
    uri: https://dfw.servers.api.rackspacecloud.com/v2/000000/flavors/performance2-120
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token: _ONE-TIME-TOKEN_
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      x-compute-request-id:
      - req-d1fc7e08-d3bf-4097-9e79-5975eac2ddda
    body:
      encoding: UTF-8
      string: ! '{"flavor": {"OS-FLV-WITH-EXT-SPECS:extra_specs": {"resize_policy_class":
        "performance_flavor", "class": "performance2", "disk_io_index": "80", "number_of_data_disks":
        "4"}, "name": "120 GB Performance", "links": [{"href": "https://dfw.servers.api.rackspacecloud.com/v2/000000/flavors/performance2-120",
        "rel": "self"}, {"href": "https://dfw.servers.api.rackspacecloud.com/000000/flavors/performance2-120",
        "rel": "bookmark"}], "ram": 122880, "vcpus": 32, "swap": "", "rxtx_factor":
        10000.0, "OS-FLV-EXT-DATA:ephemeral": 1200, "disk": 40, "id": "performance2-120"}}'
  recorded_at: Tue, 10 Dec 2013 21:55:20 GMT
[...]
- request:
    method: get
    uri: https://iad.servers.api.rackspacecloud.com/v2/000000/flavors
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token: _ONE-TIME-TOKEN_
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      x-compute-request-id:
      - req-1d4e0cda-b91a-41fc-9839-61236141af68
    body:
      encoding: US-ASCII
      string: ! '{"flavors": [[...]
- request:
    method: post
    uri: https://identity.api.rackspacecloud.com/v2.0/tokens
    body:
      encoding: UTF-8
      string: ! '{"auth":{"RAX-KSKEY:apiKeyCredentials":{"username":"_RAX_USERNAME_","apiKey":"_RAX_PASSWORD_"}}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token: _ONE-TIME-TOKEN_
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Front-End-Https:
      - 'on'
    body:
      encoding: US-ASCII
      string: ! '{"access":{"token":{"id":"000000","expires":"2014-01-18T14:51:11.824Z","tenant":{"id":"000000","name":"000000"},"RAX-AUTH:authenticatedBy":["APIKEY"]},"serviceCatalog":[{"name":"cloudFiles","endpoints":[{"region":"HKG","tenantId":"_CDN-TENANT-NAME_","publicURL":"https:\/\/storage101.hkg1.clouddrive.com\/v1\/_CDN-TENANT-NAME_","internalURL":"https:\/\/snet-storage101.hkg1.clouddrive.com\/v1\/_CDN-TENANT-NAME_"},{"region":"SYD","tenantId":"_CDN-TENANT-NAME_","publicURL":"https:\/\/storage101.syd2.clouddrive.com\/v1\/_CDN-TENANT-NAME_","internalURL":"https:\/\/snet-storage101.syd2.clouddrive.com\/v1\/_CDN-TENANT-NAME_"},{"region":"DFW","tenantId":"_CDN-TENANT-NAME_","publicURL":"https:\/\/storage101.dfw1.clouddrive.com\/v1\/_CDN-TENANT-NAME_","internalURL":"https:\/\/snet-storage101.dfw1.clouddrive.com\/v1\/_CDN-TENANT-NAME_"},{"region":"ORD","tenantId":"_CDN-TENANT-NAME_","publicURL":"https:\/\/storage101.ord1.clouddrive.com\/v1\/_CDN-TENANT-NAME_","internalURL":"https:\/\/snet-storage101.ord1.clouddrive.com\/v1\/_CDN-TENANT-NAME_"},{"region":"IAD","tenantId":"_CDN-TENANT-NAME_","publicURL":"https:\/\/storage101.iad3.clouddrive.com\/v1\/_CDN-TENANT-NAME_","internalURL":"https:\/\/snet-storage101.iad3.clouddrive.com\/v1\/_CDN-TENANT-NAME_"}],"type":"object-store"},{"name":"cloudFilesCDN","endpoints":[{"region":"DFW","tenantId":"_CDN-TENANT-NAME_","publicURL":"https:\/\/cdn1.clouddrive.com\/v1\/_CDN-TENANT-NAME_"},{"region":"ORD","tenantId":"_CDN-TENANT-NAME_","publicURL":"https:\/\/cdn2.clouddrive.com\/v1\/_CDN-TENANT-NAME_"},{"region":"SYD","tenantId":"_CDN-TENANT-NAME_","publicURL":"https:\/\/cdn4.clouddrive.com\/v1\/_CDN-TENANT-NAME_"},{"region":"IAD","tenantId":"_CDN-TENANT-NAME_","publicURL":"https:\/\/cdn5.clouddrive.com\/v1\/_CDN-TE[...]
- request:
    method: get
    uri: https://iad.servers.api.rackspacecloud.com/v2/000000/flavors/detail
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token: _ONE-TIME-TOKEN_
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      x-compute-request-id:
      - req-d17f5923-a73e-454b-9990-74202fa009b1
    body:
      encoding: US-ASCII
      string: ! '{"flav[...]
- request:
    method: get
    uri: https://iad.servers.api.rackspacecloud.com/v2/000000/flavors/2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token: _ONE-TIME-TOKEN_
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      x-compute-request-id:
      - req-4a82257f-cee0-4ff5-8f30-c7ba4571ace3
    body:
      encoding: US-ASCII
      string: ! '{"flavor": {"OS-FLV-WITH-EXT-SPECS:extra_specs": {"class": "standard1",
        "disk_io_index": "2", "number_of_data_disks": "0"}, "name": "512MB Standard
        Instance", "links": [{"href": "https://iad.servers.api.rackspacecloud.com/v2/000000/flavors/2",
        "rel": "self"}, {"href": "https://iad.servers.api.rackspacecloud.com/000000/flavors/2",
        "rel": "bookmark"}], "ram": 512, "vcpus": 1, "swap": 512, "rxtx_factor": 80.0,
        "OS-FLV-EXT-DATA:ephemeral": 0, "disk": 20, "id": "2"}}'
  recorded_at: Fri, 17 Jan 2014 19:13:29 GMT
[...]
- request:
    method: get
    uri: https://iad.servers.api.rackspacecloud.com/v2/000000/flavors/performance1-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token: _ONE-TIME-TOKEN_
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      x-compute-request-id:
      - req-1249068c-0a23-4e9e-89d0-91d85c56fe75
    body:
      encoding: US-ASCII
      string: ! '{"flavor": {"OS-FLV-WITH-EXT-SPECS:extra_specs": {"resize_policy_class":
        "performance_flavor", "class": "performance1", "disk_io_index": "40", "number_of_data_disks":
        "0"}, "name": "1 GB Performance", "links": [{"href": "https://iad.servers.api.rackspacecloud.com/v2/000000/flavors/performance1-1",
        "rel": "self"}, {"href": "https://iad.servers.api.rackspacecloud.com/000000/flavors/performance1-1",
        "rel": "bookmark"}], "ram": 1024, "vcpus": 1, "swap": "", "rxtx_factor": 200.0,
        "OS-FLV-EXT-DATA:ephemeral": 0, "disk": 20, "id": "performance1-1"}}'
  recorded_at: Fri, 17 Jan 2014 19:13:33 GMT
[...]
- request:
    method: get
    uri: https://iad.servers.api.rackspacecloud.com/v2/000000/flavors/performance2-120
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token: _ONE-TIME-TOKEN_
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      x-compute-request-id:
      - req-6ad6fbff-c872-4112-97cd-c4295bda533a
    body:
      encoding: US-ASCII
      string: ! '{"flavor": {"OS-FLV-WITH-EXT-SPECS:extra_specs": {"resize_policy_class":
        "performance_flavor", "class": "performance2", "disk_io_index": "80", "number_of_data_disks":
        "4"}, "name": "120 GB Performance", "links": [{"href": "https://iad.servers.api.rackspacecloud.com/v2/000000/flavors/performance2-120",
        "rel": "self"}, {"href": "https://iad.servers.api.rackspacecloud.com/000000/flavors/performance2-120",
        "rel": "bookmark"}], "ram": 122880, "vcpus": 32, "swap": "", "rxtx_factor":
        10000.0, "OS-FLV-EXT-DATA:ephemeral": 1200, "disk": 40, "id": "performance2-120"}}'
  recorded_at: Fri, 17 Jan 2014 19:13:35 GMT
[...]
- request:
    method: get
    uri: https://iad.servers.api.rackspacecloud.com/v2/000000/flavors/performance2-90
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token: _ONE-TIME-TOKEN_
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      x-compute-request-id:
      - req-aa366eb4-9fa7-4c5a-84be-45529b19a5a8
    body:
      encoding: US-ASCII
      string: ! '{"flavor": {"OS-FLV-WITH-EXT-SPECS:extra_specs": {"resize_policy_class":
        "performance_flavor", "class": "performance2", "disk_io_index": "70", "number_of_data_disks":
        "3"}, "name": "90 GB Performance", "links": [{"href": "https://iad.servers.api.rackspacecloud.com/v2/000000/flavors/performance2-90",
        "rel": "self"}, {"href": "https://iad.servers.api.rackspacecloud.com/000000/flavors/performance2-90",
        "rel": "bookmark"}], "ram": 92160, "vcpus": 24, "swap": "", "rxtx_factor":
        7500.0, "OS-FLV-EXT-DATA:ephemeral": 900, "disk": 40, "id": "performance2-90"}}'
  recorded_at: Fri, 17 Jan 2014 19:13:37 GMT
recorded_with: VCR 2.8.0
