---
http_interactions:
- request:
    method: get
    uri: https://dfw.servers.api.rackspacecloud.com/v2/000000/images/detail?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token: _ONE-TIME-TOKEN_
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id: _COMPUTE-REQUEST-ID_
    body:
      encoding: UTF-8
      string: ! '{"images": [{"status": "ACTIVE", "updated": "2013-10-17T22:04:21Z",
        "links": [{"href": "https://dfw.servers.api.rackspacecloud.com/v2/000000/images/ff228647-fd57-47fe-b42d-2b7813bb9115",
        "rel": "self"}, {"href": "https://dfw.servers.api.rackspacecloud.com/000000/images/ff228647-fd57-47fe-b42d-2b7813bb9115",
        "rel": "bookmark"}, {"href": "https://dfw.servers.api.rackspacecloud.com/000000/images/ff228647-fd57-47fe-b42d-2b7813bb9115",
        "type": "application/vnd.openstack.image", "rel": "alternate"}], "OS-DCF:diskConfig":
        "AUTO", "id": "ff228647-fd57-47fe-b42d-2b7813bb9115", "OS-EXT-IMG-SIZE:size":
        230452742, "name": "Ubuntu 13.10 (Saucy Salamander)", "created": "2013-10-17T17:00:35Z",
        "minDisk": 0, "progress": 100, "minRam": 512, "metadata": {"os_distro": "ubuntu",
        "com.rackspace__1__visible_core": "1", "com.rackspace__1__build_rackconnect":
        "1", "com.rackspace__1__options": "0", "image_type": "base", "cache_in_nova":
        "True", "com.rackspace__1__source": "kickstart", "org.openstack__1__os_distro":
        "com.ubuntu", "com.rackspace__1__release_build_date": "2013-10-17_11-34-19",
        "auto_disk_config": "True", "com.rackspace__1__release_version": "1", "os_type":
        "linux", "com.rackspace__1__visible_rackconnect": "1", "com.rackspace__1__release_id":
        "1006", "com.rackspace__1__visible_managed": "0", "com.rackspace__1__build_core":
        "1", "org.openstack__1__os_version": "13.10", "org.openstack__1__architecture":
        "x64", "com.rackspace__1__build_managed": "1"}}, {"status": "ACTIVE", "updated":
        "2013-10-09T06:32:23Z", "links": [{"href": "https://dfw.servers.api.rackspacecloud.com/v2/000000/images/3283932a-b400-484f-a194-8246f74b27b3",
        "rel": "self"}, {"href": "https://dfw.servers.api.rackspacecloud.com/000000/images/3283932a-b400-484f-a194-8246f74b27b3",
        "rel": "bookmark"}, {"href": "https://dfw.servers.api.rackspacecloud.com/000000/images/3283932a-b400-484f-a194-8246f74b27b3",
        "type": "application/vnd.openstack.image", "rel": "alternate"}], "OS-DCF:diskConfig":
        "AUTO", "id": "3283932a-b400-484f-a194-8246f74b27b3", "OS-EXT-IMG-SIZE:size":
        594268160, "name": "wondercode_1", "created": "2013-10-09T06:29:01Z", "minDisk":
        20, "server": {"id": "5f9f626c-002d-49e2-bbf9-d479eefb004b", "links": [{"href":
        "https://dfw.servers.api.rackspacecloud.com/v2/000000/servers/5f9f626c-002d-49e2-bbf9-d479eefb004b",
        "rel": "self"}, {"href": "https://dfw.servers.api.rackspacecloud.com/000000/servers/5f9f626c-002d-49e2-bbf9-d479eefb004b",
        "rel": "bookmark"}]}, "progress": 100, "minRam": 512, "metadata": {"com.rackspace__1__options":
        "0", "instance_type_name": "512MB Standard Instance", "instance_type_vcpus":
        "1", "com.rackspace__1__release_id": "1003", "com.rackspace__1__build_core":
        "1", "base_image_ref": "25de7af5-1668-46fb-bd08-9974b63a4806", "os_distro":
        "ubuntu", "org.openstack__1__os_distro": "com.ubuntu", "image_type": "snapshot",
        "com.rackspace__1__source": "kickstart", "instance_type_ephemeral_gb": "0",
        "com.rackspace__1__build_managed": "1", "org.openstack__1__architecture":
        "x64", "com.rackspace__1__visible_core": "1", "instance_type_vcpu_weight":
        "10", "instance_type_root_gb": "20", "instance_type_id": "2", "com.rackspace__1__release_build_date":
        "2013-10-03_08-56-47", "instance_type_rxtx_factor": "2", "com.rackspace__1__visible_rackconnect":
        "1", "com.rackspace__1__release_version": "7", "com.rackspace__1__visible_managed":
        "1", "instance_uuid": "5f9f626c-002d-49e2-bbf9-d479eefb004b", "instance_type_memory_mb":
        "512", "instance_type_swap": "512", "com.rackspace__1__build_rackconnect":
        "1", "user_id": "358651", "instance_type_flavorid": "2", "auto_disk_config":
        "True", "os_type": "linux", "org.openstack__1__os_version": "12.04"}}, {"status":
        "ACTIVE", "updated": "2013-10-09T05:03:30Z", "links": [{"href": "https://dfw.servers.api.rackspacecloud.com/v2/000000/images/6bc6e137-3ca6-4159-8802-c8fc03c4730b",
        "rel": "self"}, {"href": "https://dfw.servers.api.rackspacecloud.com/000000/images/6bc6e137-3ca6-4159-8802-c8fc03c4730b",
        "rel": "bookmark"}, {"href": "https://dfw.servers.api.rackspacecloud.com/0[...]
- request:
    method: get
    uri: https://dfw.servers.api.rackspacecloud.com/v2/000000/images
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token: _ONE-TIME-TOKEN_
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      x-compute-request-id:
      - req-1a9150bd-b74e-48a9-85e5-4b588cab96e5
    body:
      encoding: US-ASCII
      string: ! '{"images": [{"id": "087497de-d71c-4d78-a707-599d0a8ea8b5", "links":
        [{"href": "https://dfw.servers.api.rackspacecloud.com/v2/000000/images/087497de-d71c-4d78-a707-599d0a8ea8b5",
        "rel": "self"}, {"href": "https://dfw.servers.api.rackspacecloud.com/000000/images/087497de-d71c-4d78-a707-599d0a8ea8b5",
        "rel": "bookmark"}, {"href": "https://dfw.servers.api.rackspacecloud.com/0[...]
[...]
- request:
    method: post
    uri: https://identity.api.rackspacecloud.com/v2.0/tokens
    body:
      encoding: UTF-8
      string: ! '{"auth":{"RAX-KSKEY:apiKeyCredentials":{"username":"_RAX_USERNAME_","apiKey":"_RAX_PASSWORD_"}}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token: _ONE-TIME-TOKEN_
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Front-End-Https:
      - 'on'
    body:
      encoding: US-ASCII
      string: ! '{"access":{"token":{"id":"05fac16f5e9a4f3a93440b2a5c442a92","expires":"2013-12-11T06:35:39.594Z","tenant":{"id":"000000","name":"000000"},"RAX-AUTH:authenticatedBy":["APIKEY"]},"serviceCatalog":[{"name":"cloudFiles","endpoints":[{"region":"DFW","tenantId":"_CDN-TENANT-NAME_","publicURL":"https:\/\/storage101.dfw1.clouddrive.com\/v1\/_CDN-TENANT-NAME_","internalURL":"https:\/\/snet-storage101.dfw1.clouddrive.com\/v1\/_CDN-TENANT-NAME_"},{"region":"ORD","tenantId":"_CDN-TENANT-NAME_","publicURL":"https:\/\/storage101.ord1.clouddrive.com\/v1\/_CDN-TENANT-NAME_","internalURL":"https:\/\/snet-storage101.ord1.clouddrive.com\/v1\/_CDN-TENANT-NAME_"},{"region":"SYD","tenantId":"_CDN-TENANT-NAME_","publicURL":"https:\/\/storage101.syd2.clouddrive.com\/v1\/_CDN-TENANT-NAME_","internalURL":"https:\/\/snet-storage101.syd2.clouddrive.com\/v1\/_CDN-TENANT-NAME_"},{"regi[...]
[...]
