---
http_interactions:
- request:
    method: get
    uri: https://auth.api.rackspacecloud.com/v1.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Key:
      - _RAX_PASSWORD_
      X-Auth-User:
      - _RAX_USERNAME_
  response:
    status:
      code: 204
      message: 
    headers:
      X-Storage-Url:
      - https://storage101.dfw1.clouddrive.com/v1/_CDN-TENANT-NAME_
      X-Cloud-Auth:
      - 'true'
      Front-End-Https:
      - 'on'
      X-Auth-Token: _ONE-TIME-TOKEN_
      X-Storage-Token: _ONE-TIME-TOKEN_
      X-Server-Management-Url:
      - https://servers.api.rackspacecloud.com/v1.0/000000
      X-Global-Auth:
      - 'true'
      X-CDN-Management-Url:
      - https://cdn1.clouddrive.com/v1/_CDN-TENANT-NAME_
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Jun 2013 22:32:11 GMT
- request:
    method: get
    uri: https://dfw.servers.api.rackspacecloud.com/v2/000000/flavors
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token: _ONE-TIME-TOKEN_
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id: _COMPUTE-REQUEST-ID_
    body:
      encoding: UTF-8
      string: ! '{"flavors": [{"id": "2", "links": [{"href": "https://dfw.servers.api.rackspacecloud.com/v2/000000/flavors/2",
        "rel": "self"}, {"href": "https://dfw.servers.api.rackspacecloud.com/000000/flavors/2",
        "rel": "bookmark"}], "name": "512MB Standard Instance"}, {"id": "3", "links":
        [{"href": "https://dfw.servers.api.rackspacecloud.com/v2/000000/flavors/3",
        "rel": "self"}, {"href": "https://dfw.servers.api.rackspacecloud.com/000000/flavors/3",
        "rel": "bookmark"}], "name": "1GB Standard Instance"}, {"id": "4", "links":
        [{"href": "https://dfw.servers.api.rackspacecloud.com/v2/000000/flavors/4",
        "rel": "self"}, {"href": "https://dfw.servers.api.rackspacecloud.com/000000/flavors/4",
      [...]
- request:
    method: get
    uri: https://dfw.servers.api.rackspacecloud.com/v2/000000/flavors/2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token: _ONE-TIME-TOKEN_
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id: _COMPUTE-REQUEST-ID_
    body:
      encoding: UTF-8
      string: ! '{"flavor": {"name": "512MB Standard Instance", "links": [{"href":
        "https://dfw.servers.api.rackspacecloud.com/v2/000000/flavors/2", "rel": "self"},
        {"href": "https://dfw.servers.api.rackspacecloud.com/000000/flavors/2", "rel":
        "bookmark"}], "ram": 512, "vcpus": 1, "swap": 512, "rxtx_factor": 2.0, "OS-FLV-EXT-DATA:ephemeral":
        0, "disk": 20, "id": "2"}}'
  recorded_at: Mon, 10 Jun 2013 22:32:11 GMT
[...]
- request:
    method: get
    uri: https://dfw.servers.api.rackspacecloud.com/v2/000000/flavors/8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token: _ONE-TIME-TOKEN_
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id: _COMPUTE-REQUEST-ID_
    body:
      encoding: UTF-8
      string: ! '{"flavor": {"name": "30GB Standard Instance", "links": [{"href":
        "https://dfw.servers.api.rackspacecloud.com/v2/000000/flavors/8", "rel": "self"},
        {"href": "https://dfw.servers.api.rackspacecloud.com/000000/flavors/8", "rel":
        "bookmark"}], "ram": 30720, "vcpus": 8, "swap": 2048, "rxtx_factor": 30.0,
        "OS-FLV-EXT-DATA:ephemeral": 0, "disk": 1200, "id": "8"}}'
  recorded_at: Mon, 10 Jun 2013 22:32:13 GMT
recorded_with: VCR 2.5.0
