---
http_interactions:
- request:
    method: post
    uri: https://identity.api.rackspacecloud.com/v2.0/tokens
    body:
      encoding: UTF-8
      string: ! '{"auth":{"RAX-KSKEY:apiKeyCredentials":{"username":"_RAX_USERNAME_","apiKey":"_RAX_PASSWORD_"}}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token: _ONE-TIME-TOKEN_
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Front-End-Https:
      - 'on'
    body:
      encoding: US-ASCII
      string: ! '{"access":{"token":{"id":"8a68ee867be84f98967a9250cab8ba7a","expires":"2013-06-27T08:48:53.037-05:00","tenant":{"id":"000000","name":"000000"}},"serviceCatalog":[{"name":"cloudFiles","endpoints":[{"region":"DFW","tenantId":"_CDN-TENANT-NAME_","publicURL":"https:\/\/storage101.dfw1.clouddrive.com\/v1\/_CDN-TENANT-NAME_","internalURL":"https:\/\/snet-storage101.dfw1.clouddrive.com\/v1\/_CDN-TENANT-NAME_"},{"region":"ORD","tenantId":"_CDN-TENANT-NAME_","publicURL":"https:\/\/storage101.ord1.clouddrive.com\/v1\/_CDN-TENANT-NAME_","internalURL":"https:\/\/snet-storage101.ord1.clouddrive.com\/v1\/_CDN-TENANT-NAME_"},{"region":"SYD","tenantId":"_CDN-TENANT-NAME_","publicURL":"https:\/\/storage101.syd2.clouddrive.com\/v1\/_CDN-TENANT-NAME_","internalURL":"https:\/\/snet-storage101.syd2.clouddrive.com\/v1\/_CDN-TENANT-NAME_"}],"type":"object-store"},{"name":"cloudFilesCDN","endpoints":[{"region":"DFW","tenantId":"_CDN-TENANT-NAME_","publicURL":"https:\/\/cdn1.clouddrive.com\/v1\/_CDN-TENANT-NAME_"},{"region":"ORD","tenantId":"_CDN-TENANT-NAME_","publicURL":"https:\/\/cdn2.clouddrive.com\/v1\/_CDN-TENANT-NAME_"},{"region":"SYD","tenantId":"_CDN-TENANT-NAME_","publicURL":"https:\/\/cdn4.clouddrive.com\/v1\/_CDN-TENANT-NAME_"}],"type":"rax:object-cdn"},{"name":"cloudBlockStorage","endpoints":[{"region":"SYD","tenantId":"000000"[...]
- request:
    method: get
    uri: https://dfw.servers.api.rackspacecloud.com/v2/000000/images
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token: _ONE-TIME-TOKEN_
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id: _COMPUTE-REQUEST-ID_
    body:
      encoding: US-ASCII
      string: ! '{"images": [{"id": "8958846f-679b-454e-9232-20d3792fc5d7", "links":
        [{"href": "https://dfw.servers.api.rackspacecloud.com/v2/000000/images/8958846f-679b-454e-9232-20d3792fc5d7",
        "rel": "self"}, {"href": "https://dfw.servers.api.rackspacecloud.com/000000/images/8958846f-679b-454e-9232-20d3792fc5d7",
        "rel": "bookmark"}, {"href": "https://dfw.servers.api.rackspacecloud.com/000000/images/8958846f-679b-454e-9232-20d3792fc5d7",
        "type": "application/vnd.openstack.image", "rel": "alternate"}], "name": "OpenSUSE
        12.3"}, {"id": "32b7d027-8a40-458b-9e73-bd719d660df6", "links": [{"href":
        "https://dfw.servers.api.rackspacecloud.com/v2/000000/images/32b7d027[...]
