---
http_interactions:
- request:
    method: post
    uri: https://identity.api.rackspacecloud.com/v2.0/tokens
    body:
      encoding: UTF-8
      string: ! '{"auth":{"RAX-KSKEY:apiKeyCredentials":{"username":"_RAX_USERNAME_","apiKey":"_RAX_PASSWORD_"}}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token: _ONE-TIME-TOKEN_
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Front-End-Https:
      - 'on'
    body:
      encoding: US-ASCII
      string: ! '{"access":{"token":{"id":"8a68ee867be84f98967a9250cab8ba7a","expires":"2013-06-27T08:48:53.037-05:00","tenant":{"id":"000000","name":"000000"}},"serviceCatalog":[{"name":"cloudFiles","endpoints":[{"region":"DFW","tenantId":"_CDN-TENANT-NAME_","publicURL":"https:\/\/storage101.dfw1.clouddrive.com\/v1\/_CDN-TENANT-NAME_","internalURL":"https:\/\/snet-storage101.dfw1.clouddrive.com\/v1\/_CDN-TENANT-NAME_"},{"region":"ORD","tenantId":"_CDN-TENANT-NAME_","publicURL":"https:\/\/storage101.ord1.clouddrive.com\/v1\/_CDN-TENANT-NAME_","internalURL":"https:\/\/snet-storage101.ord1.clouddrive.com\/v1\/_CDN-TENANT-NAME_"},{"region":"SYD","tenantId":"_CDN-TENANT-NAME_","publicURL":"https:\/\/storage101.syd2.clouddrive.com\/v1\/_CDN-TENANT-NAME_","internalURL":"https:\/\/snet-storage101.syd2.clouddrive.com\/v1\/_CDN-TENANT-NAME_"}],"type":"object-store"},{"name":"cloudFilesCDN","endpoints":[{"region":"DFW","tenantId":"_CDN-TENANT-NAME_","publicURL":"https:\/\/cdn1.clouddrive.com\/v1\/_CDN-TENANT-NAME_"},{"region":"ORD","tenantId":"_CDN-TENANT-NAME_","publicURL":"https:\/\/cdn2.clouddrive.com\/v1\/_CDN-TENANT-NAME_"},{"region":"SYD","tenantId":"_CDN-TENANT-NAME_","publicURL":"https:\/\/cdn4.clouddrive.com\/v1\/_CDN-TENANT-NAME_"}],"type":"rax:object-cdn"},{"name":"cloudBlockStorage","endpoints":[{"region":"SYD","tenantId":"000000"[...]
- request:
    method: get
    uri: https://dfw.servers.api.rackspacecloud.com/v2/000000/flavors
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token: _ONE-TIME-TOKEN_
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id: _COMPUTE-REQUEST-ID_
    body:
      encoding: US-ASCII
      string: ! '{"flavors": [{"id": "2", "links": [{"href": "https://dfw.servers.api.rackspacecloud.com/v2/000000/flavors/2",
        "rel": "self"}, {"href": "https://dfw.servers.api.rackspacecloud.com/000000/flavors/2",
        "rel": "bookmark"}], "name": "512MB Standard Instance"}, {"id": "3", "links":
        [{"href": "https://dfw.servers.api.rackspacecloud.com/v2/000000/flavors/3",
        "rel": "self"}, {"href": "https://dfw.servers.api.rackspacecloud.com/000000/flavors/3",
        "rel": "bookmark"}], "name": "1GB Standard Instance"}, {"id": "4", "links":
        [{"href": "https://dfw.servers.api.rackspacecloud.com/v2/000[...]
- request:
    method: get
    uri: https://dfw.servers.api.rackspacecloud.com/v2/000000/flavors/2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token: _ONE-TIME-TOKEN_
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id: _COMPUTE-REQUEST-ID_
    body:
      encoding: US-ASCII
      string: ! '{"flavor": {"name": "512MB Standard Instance", "links": [{"href":
        "https://dfw.servers.api.rackspacecloud.com/v2/000000/flavors/2", "rel": "self"},
        {"href": "https://dfw.servers.api.rackspacecloud.com/000000/flavors/2", "rel":
        "bookmark"}], "ram": 512, "vcpus": 1, "swap": 512, "rxtx_factor": 2.0, "OS-FLV-EXT-DATA:ephemeral":
        0, "disk": 20, "id": "2"}}'
  recorded_at: Wed, 26 Jun 2013 16:49:06 GMT
[...]
- request:
    method: get
    uri: https://dfw.servers.api.rackspacecloud.com/v2/000000/flavors/8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token: _ONE-TIME-TOKEN_
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id: _COMPUTE-REQUEST-ID_
    body:
      encoding: US-ASCII
      string: ! '{"flavor": {"name": "30GB Standard Instance", "links": [{"href":
        "https://dfw.servers.api.rackspacecloud.com/v2/000000/flavors/8", "rel": "self"},
        {"href": "https://dfw.servers.api.rackspacecloud.com/000000/flavors/8", "rel":
        "bookmark"}], "ram": 30720, "vcpus": 8, "swap": 2048, "rxtx_factor": 30.0,
        "OS-FLV-EXT-DATA:ephemeral": 0, "disk": 1200, "id": "8"}}'
  recorded_at: Wed, 26 Jun 2013 16:49:08 GMT
recorded_with: VCR 2.5.0
