---
http_interactions:
- request:
    method: get
    uri: https://auth.api.rackspacecloud.com/v1.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Key:
      - _RAX_PASSWORD_
      X-Auth-User:
      - _RAX_USERNAME_
  response:
    status:
      code: 204
      message: 
    headers:
      X-Storage-Url:
      - https://storage101.dfw1.clouddrive.com/v1/_CDN-TENANT-NAME_
      X-Cloud-Auth:
      - 'true'
      Front-End-Https:
      - 'on'
      X-Auth-Token: _ONE-TIME-TOKEN_
      X-Storage-Token: _ONE-TIME-TOKEN_
      X-Server-Management-Url:
      - https://servers.api.rackspacecloud.com/v1.0/000000
      X-Global-Auth:
      - 'true'
      X-CDN-Management-Url:
      - https://cdn1.clouddrive.com/v1/_CDN-TENANT-NAME_
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Jun 2013 22:32:17 GMT
- request:
    method: post
    uri: https://dfw.servers.api.rackspacecloud.com/v2/000000/os-networksv2
    body:
      encoding: UTF-8
      string: ! '{"network":{"label":"test-network","cidr":"10.0.0.0/24"}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token: _ONE-TIME-TOKEN_
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id: _COMPUTE-REQUEST-ID_
    body:
      encoding: UTF-8
      string: ! '{"network": {"cidr": "10.0.0.0/24", "id": "network_0", "label": "test-network"}}'
  recorded_at: Mon, 10 Jun 2013 22:32:18 GMT
[...]
- request:
    method: get
    uri: https://dfw.servers.api.rackspacecloud.com/v2/000000/os-networksv2/network_0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token: _ONE-TIME-TOKEN_
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id: _COMPUTE-REQUEST-ID_
    body:
      encoding: UTF-8
      string: ! '{"network": {"cidr": "10.0.0.0/24", "id": "network_0", "label": "test-network"}}'
  recorded_at: Mon, 10 Jun 2013 22:32:19 GMT
- request:
    method: delete
    uri: https://dfw.servers.api.rackspacecloud.com/v2/000000/os-networksv2/network_0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token: _ONE-TIME-TOKEN_
  response:
    status:
      code: 202
      message: 
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: ! "202 Accepted\n\nThe request is accepted for processing.\n\n   "
  recorded_at: Mon, 10 Jun 2013 22:32:20 GMT
recorded_with: VCR 2.5.0
