---
http_interactions:
- request:
    method: get
    uri: https://dfw.servers.api.rackspacecloud.com/v2/000000/images/detail?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token: _ONE-TIME-TOKEN_
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      x-compute-request-id:
      - req-1a07027e-af51-4441-8142-9c3a15da57ac
    body:
      encoding: UTF-8
      string: ! '{"images": [{"status": "ACTIVE", "updated": "2013-12-10T17:17:25Z",
        "links": [{"href": "https://dfw.servers.api.rackspacecloud.com/v2/000000/images/087497de-d71c-4d78-a707-599d0a8ea8b5",
        "rel": "self"}, {"href": "https://dfw.servers.api.rackspacecloud.com/000000/images/087497de-d71c-4d78-a707-599d0a8ea8b5",
        "rel": "bookmark"}, {"href": "https://dfw.servers.api.rackspacecloud.com/000000/images/087497de-d71c-4d78-a707-599d0a8ea8b5",
        "type": "application/vnd.openstack.image", "rel": "alternate"}], "OS-DCF:diskConfig":
        "MANUAL", "id": "087497de-d71c-4d78-a707-599d0a8ea8b5", "OS-EXT-IMG-SIZE:size":
        16347488811, "name": "Windows Server 2012 + SQL Server 2012 SP1 Standard",
        "created": "2013-12-05T18:44:05Z", "minDisk": 40, "progress": 100, "minRam":
        2048, "metadata": {"com.rackspace__1__visible_managed": "1", "com.rackspace__1__visible_core":
        "1", "com.rackspace__1__build_rackconnect": "1", "com.rackspace__1__release_id":
        "4200", "image_type": "base", "cache_in_nova": "True", "com.rackspace__1__source":
        "kickstart", "org.openstack__1__os_distro": "com.microsoft.server", "com.rackspace__1__release_build_date":
        "2013-12-04_22-53-21", "os_type": "windows", "auto_disk_config": "False",
        "com.rackspace__1__release_version": "9", "com.rackspace__1__platform_target":
        "PublicCloud", "com.rackspace__1__visible_rackconnect": "1", "com.rackspace__1__options":
        "12", "com.rackspace__1__build_managed": "1", "com.rackspace__1__build_core":
        "1", "rax_activation_profile": "windows", "org.openstack__1__os_version":
        "2012.0", "org.openstack__1__architecture": "x64", "com.rackspace__1__release_state":
        "active"}}, {"status": "ACTIVE", "updated": "2013-12-10T17:17:27Z", "links":
        [{"href": "https://dfw.servers.api.rackspacecloud.com/v2/000000/images/da91684c-b5ed-4ec4-96d7-6637514e3599",
        "rel": "self"}, {"href": "https://dfw.servers.api.rackspacecloud.com/000000/images/da91684c-b5ed-4ec4-96d7-6637514e3599",
        "rel": "bookmark"}, {"href": "https://dfw.servers.api.rackspacecloud.com/000000/images/da91684c-b5ed-4ec4-96d7-6637514e3599",
        "type": "application/vnd[...]
- request:
    method: get
    uri: https://iad.servers.api.rackspacecloud.com/v2/000000/images
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token: _ONE-TIME-TOKEN_
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      x-compute-request-id:
      - req-7517b0ae-f66a-4e1f-a07e-e503db66c7e4
    body:
      encoding: US-ASCII
      string: ! '{"images": [{"[...]
- request:
    method: post
    uri: https://identity.api.rackspacecloud.com/v2.0/tokens
    body:
      encoding: UTF-8
      string: ! '{"auth":{"RAX-KSKEY:apiKeyCredentials":{"username":"_RAX_USERNAME_","apiKey":"_RAX_PASSWORD_"}}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token: _ONE-TIME-TOKEN_
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Front-End-Https:
      - 'on'
    body:
      encoding: US-ASCII
      string: ! '{"access":{"token":{"id":"2f2a19a96d84414799147bbb8b7ae765","expires":"2014-01-18T14:51:11.824Z","tenant":{"id":"000000","name":"000000"},"RAX-AUTH:authenticatedBy":["APIKEY"]},"serviceCatalog":[{"name":"cloudFiles","endpoints":[{"region":"DFW","tenantId":"_CDN-TENANT-NAME_","publicURL":"https:\/\/storage101.dfw1.clouddrive.com\/v1\/_CDN-TENANT-NAME_","internalURL":"https:\/\/snet-storage101.dfw1.clouddrive.com\/v1\/_CDN-TENANT-NAME_"},{"region":"ORD","tenantId":"_CDN-TENANT-NAME_","publicURL":"https:\/\/storage101.ord1.clouddrive.com\/v1\/_CDN-TENANT-NAME_","internalURL":"https:\/\/snet-storage101.ord1.clouddrive.com\/v1\/_CDN-TENANT-NAME_"},{"region":"SYD","tenantId":"_CDN-TENANT-NAME_","publicURL":"https:\/\/storage101.syd2.clouddrive.com\/v1\/_CDN-TENANT-NAME_","internalURL":"https:\/\/snet-storage101.syd2.clouddrive.com\/v1\/_CDN-TENANT-NAME_"},{"regi[...]
- request:
    method: get
    uri: https://iad.servers.api.rackspacecloud.com/v2/000000/images/detail?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token: _ONE-TIME-TOKEN_
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      x-compute-request-id:
      - req-60afbbd2-835f-4be4-bcc2-52314a6c3ce7
    body:
      encoding: US-ASCII
      string[...]
