---
http_interactions:
- request:
    method: get
    uri: https://dfw.servers.api.rackspacecloud.com/v2/000000/images
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token: _ONE-TIME-TOKEN_
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id: _COMPUTE-REQUEST-ID_
    body:
      encoding: UTF-8
      string: ! '{"images": [{"id": "ff228647-fd57-47fe-b42d-2b7813bb9115", "links":
        [{"href": "https://dfw.servers.api.rackspacecloud.com/v2/000000/images/ff228647-fd57-47fe-b42d-2b7813bb9115",
        "rel": "self"}, {"href": "https://dfw.servers.api.rackspacecloud.com/000000/images/ff228647-fd57-47fe-b42d-2b7813bb9115",
        "rel": "bookmark"}, {"href": "https://dfw.servers.api.rackspacecloud.com/000000/images/ff228647-fd57-47fe-b42d-2b7813bb9115",
        "type": "application/vnd.openstack.image", "rel": "alternate"}], "name": "Ubuntu
        13.10 (Saucy Salamander)"}, {"id": "3283932a-b400-484f-a194-8246f74b27b3",
        "links": [{"href": "https://dfw.servers.api.rackspacecloud.com/v2/000000/images/3283932a-b400-484f-a194-8246f74b27b3",
        "rel": "self"}, {"href": "https://dfw.servers.api.rackspacecloud.com/000000/images/3283932a-b400-484f-a194-8246f74b27b3",
        "rel": "bookmark"}, {"href": "https://dfw.servers.api.rackspacecloud.com/000000/images/3283932a-b400-484f-a194-8246f74b27b3",
        "type": "[...]
- request:
    method: post
    uri: https://identity.api.rackspacecloud.com/v2.0/tokens
    body:
      encoding: UTF-8
      string: ! '{"auth":{"RAX-KSKEY:apiKeyCredentials":{"username":"_RAX_USERNAME_","apiKey":"_RAX_PASSWORD_"}}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token: _ONE-TIME-TOKEN_
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: ! '{"access":{"token":{"id":"token_0","expires":"2013-10-23T01:42:28.703-05:00","tenant":{"id":"000000","name":"000000"},"RAX-AUTH:authenticatedBy":["APIKEY"]},"serviceCatalog":[{"name":"cloudFiles","endpoints":[{"region":"DFW","tenantId":"_CDN-TENANT-NAME_","publicURL":"https:\/\/storage101.dfw1.clouddrive.com\/v1\/_CDN-TENANT-NAME_","internalURL":"https:\/\/snet-storage101.dfw1.clouddrive.com\/v1\/_CDN-TENANT-NAME_"},{"region":"ORD","tenantId":"_CDN-TENANT-NAME_","publicURL":"https:\/\/storage101.ord1.clouddrive.com\/v1\/_CDN-TENANT-NAME_","internalURL":"https:\/\/snet-storage101.ord1.clouddrive.com\/v1\/_CDN-TENANT-NAME_"},{"region":"SYD","tenantId":"_CDN-TENANT-NAME_","publicURL":"https:\/\/storage101.syd2.clouddrive.com\/v1\/_CDN-TENANT-NAME_","internalURL":"https:\/\/snet-storage101.syd2.clouddrive.com\/v1\/_CDN-TENANT-NAME_"},{"regi[...]
[...]
